{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": [
    "src/assets/css/tailwind.css"
  ]
}
